.inventory-card {
  width: 500px;
  display: flex;
  justify-content: center;
  border: 1px solid darkgray;
  margin: 15px;
  border-radius: 5px;
}

.item-image {
  padding: 15px;

}

.item-info {
  padding: 15px;
}

.item-image img {
  width: 200px;
  height: 175px;
  border-radius: 50%;
}